@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<head>
    <style>
        #odjava {
            color:black;
            border: 2px solid #222;
            background-color: white;
        }
            #odjava:hover {
                color: white;
                background-color: #222;
            }
    </style>
</head>

@if (SignInManager.IsSignedIn(User))
{
    @*<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link navbar-right">KRAJ RADA @UserManager.GetUserName(User)</button>
                </li>
            </ul>
        </form>*@
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
       <button id="odjava" type="submit" class="btn navbar-btn navbar-link">ODJAVA @*@UserManager.GetUserName(User)*@</button>
    </form>
}